body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.top-bar {
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
}

.logo-s {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #2E2F42;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.top-bar-nav {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
}

.top-bar-nav:hover,
.top-bar-nav:focus,
.top-bar-nav:active{
    color: #404BBF;
}

.top-bar-contact {
    font-style: normal;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

.top-bar-contact:hover,
.top-bar-contact:focus,
.top-bar-contact:active{
    color: #404BBF;
}

.hero-section .title-section {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-section {
    background-color: #2E2F42;
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404BBF;
}

.feature-section .title-feature {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
}

.feature-section .p-feature {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #434455;
}

.team-section {
    background-color: #F4F4FD;
}
.team-section .title-team-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-section .team-card {
    background-color: #FFFFFF;
}

.team-section .team-card .title-card {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2E2F42;
}

.team-section .team-card .p-card {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    text-align: center;
    color: #434455;
}

.portfolio-section .title-portfolio-section {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    background-color: #E7E9FC;
}

.portfolio-section > ul > li {
    background-color: #FFFFFF;
}

.portfolio-section .title-portfolio {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2E2F42;
}

.portfolio-section .p-portfolio {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    text-align: center;
    color: #434455;
}

.footer-section .logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-section .logo-s {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-section {
    background-color: #2E2F42;
}

.footer-section .p-footer {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #F4F4FD;
}
