body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.top-bar {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 24px 156px;
    justify-content: center;
}

.bar-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    padding-left: calc(100%-156px);
}

.logo-s {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #2E2F42;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-bar-nav {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    display: flex;
    gap: 40px;
}

.top-bar-nav:hover,
.top-bar-nav:focus,
.top-bar-nav:active{
    color: #404BBF;
}

.top-bar-contact {
    font-style: normal;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    display: flex;
    margin-left: auto;
}

.top-bar-contact:hover,
.top-bar-contact:focus,
.top-bar-contact:active{
    color: #404BBF;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.title-section {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-section {
    background-color: #2E2F42;
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 188px 472px;
    justify-content: center;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    margin: 0;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404BBF;
}

.feature-list {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5% 156px 5% 156px;
    justify-content: center;
}

.feature-item {
    flex-basis: 264px;
}

.title-feature {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
    margin-bottom: 8px;
}

.p-feature {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #434455;
}

.team-section {
    background-color: #F4F4FD;
    padding: 5% 156px 5% 156px;
}

.team-section .title-team-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.team-card {
    background-color: #FFFFFF;
    flex-basis: 264px;
    border-radius: 4px;
    overflow: hidden;
}

.team-section .team-card .title-card {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2E2F42;
}

.team-section .team-card .p-card {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    text-align: center;
    color: #434455;
}

.title-portfolio-section {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-section {
    background-color: #FFFFFF;
    padding: 5% 156px 5% 156px;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (2, auto);
    row-gap: 48px;
    column-gap: 24px;
    justify-items: center;
}

.portfolio-card {
    border: 1px solid #E7E9FC;
    overflow: hidden;
    flex-basis: 360px;
}

.under-portfolio-card {
    padding: 32px 16px;
}

.portfolio-section .title-portfolio {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

.portfolio-section .p-portfolio {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #434455;
}

.footer-section .logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-section .logo-s {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-section {
    background-color: #2E2F42;
    padding: 100px 156px;
    display: flex;
}

.footer-description {
    flex-basis: 264px;
}

.footer-section .p-footer {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #F4F4FD;
}
